@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.create-post{
  z-index: 123;
  font-family: 'Inconsolata', monospace;
  position: absolute;
  left: 0;
  right: 0;
  top: 130px;
  max-width: 500px;
  background-color: #1b1f2b;
  border-radius: 4px;
  color: #FEFEFE;
  padding-top: 20px;
  .post-button{
    float: right;
    margin-bottom: 14px;
  }
}

.dev-tools{
  position: relative;
  top: 20px;
  width: 100px;
  left: 20px;
}

.post-list{
  font-family: 'Inconsolata', monospace;
  position: absolute;
  left: 0;
  right: 0;
  top: 355px;
  max-width: 530px;
  color: #FEFEFE;
  .user-name{
    cursor: pointer;
    &:hover{
      color: #92c9cb;
    }
  }
  .user-popup{
    position: relative;
    float: left;
    overflow: hidden;
    z-index: 3;
    background-color: #92c9cb;
    width: 150px;
    border-radius: 4px;
    top: -200px;
    padding: 13px;
    -webkit-transition: top 1s, opacity 0.5s;
    transition: top 1s, opacity 0.5s;
    opacity: 0;
    p{
      padding: 0;
      margin: 0;
    }
  }
  .slided-user-popup{
    top: 0;
    opacity: 1;
  }
  .post{
    width: auto;
    max-width: 500px;
    min-height: 175px;
    max-height: 350px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: rgba(24, 28, 39, 0.85);
    .post-message{
      position: absolute;
      max-height: 100px;
      word-break: break-word;
      overflow-y: auto;
      max-width: 80%;
      left: 50px;
      -webkit-transition: max-width 1s, left 0.8s;
      transition: max-width 1s, left 0.8s;

    }
    .short-message{
      max-width: 55%;
      left: 35%;
    }
    .short-area-message{
      left: 33%;
      max-width: 65%;
    }
    .delete-post-icon{
      float: right;
      color: #abe4f8;
      cursor: pointer;
      &:hover{
        color: #f96859;
      }
    }
    .edit-post-icon{
      position: relative;
      top: 105px;
      float: right;
      color: #abe4f8;
      cursor: pointer;
      &:hover{
        color: #f9c06a;
      }
    }
    .save-post-icon{
      position: relative;
      top: 110px;
      float: right;
      color: #abe4f8;
      cursor: pointer;
      &:hover{
        color: #aff990;
      }
    }
    .cancel-post-icon{
      position: relative;
      top: 110px;
      float: right;
      margin-right: 20px;
      color: #abe4f8;
      cursor: pointer;
      &:hover{
        color: #f9947f;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .post-list {
    .post {
      .short-message {
        max-width: 43%;
        left: 48%;
      }
      .short-area-message {
        left: 47%;
        max-width: 57%;
      }
    }
  }
}

* { box-sizing: border-box; }

