<div class="dev-tools">
  <button class="btn btn-primary" (click)="populate()" *ngIf="posts.length <= 0">Populate Posts</button>
  <button class="btn btn-warning" (click)="clearPosts()" *ngIf="posts.length > 0">Clear All Posts</button>
</div>

<div class="container create-post">
  <form autocomplete="off">
    <div class="form-group autocomplete">
      <label for="postFormControlTextarea1">Create a new post</label>
      <textarea
        class="form-control"
        id="postFormControlTextarea1"
        rows="3"
        [(ngModel)]="creatingThisPost.message"
        [value]="creatingThisPost.message"
        [ngModelOptions]="{standalone: true}"
        (keyup)="checkEnterPressed($event)"
      ></textarea>
    </div>
  </form>
  <button class="btn btn-primary post-button" (click)="addNewPost()">Post</button>
</div>



<div class="container post-list">
  <div class="post" *ngFor="let post of posts">
    <h5 class="owner-name">
      <span class="user-name" (click)="toggleUserPopUp(post)">{{post.user.name}}</span>
      <i class="fa fa-window-close delete-post-icon" (click)="deletePost(post)"></i>
    </h5>
    <div class="user-popup" *ngIf="post.userPopUp" [ngClass]="{'slided-user-popup' : post.slidePanel}">
      <p>{{ (post.user.name.length>13)? (post.user.name | slice:0:13)+'..':(post.user.name) }}</p>
      <p>{{ (post.user.role.length>13)? (post.user.role | slice:0:13)+'..':(post.user.role) }}</p>
      <p>{{ (post.user.phone.length>13)? (post.user.phone | slice:0:13)+'..':(post.user.phone)}}</p>
      <p>{{ (post.user.username.length>13)? (post.user.username | slice:0:13)+'..':(post.user.username)}}</p>
    </div>

    <div class="container">
      <p class="post-message" [ngClass]="{'short-message' : post.userPopUp}" *ngIf="!post.beingEdited">
        {{post.message}}
      </p>
      <form autocomplete="off">
        <div class="autocomplete" [ngClass]="{'smaller-post' : post.userPopUp}">
                <textarea
                  *ngIf="post.beingEdited"
                  [ngClass]="{'short-area-message' : post.userPopUp}"
                  class="form-control post-message"
                  id="postFormControlTextarea"
                  rows="3"
                  [(ngModel)]="editingThisPost.message"
                  [value]="editingThisPost.message"
                  [ngModelOptions]="{standalone: true}"
                  (keyup)="checkEnterPressedOnEdit($event)"
                ></textarea>
        </div>
      </form>
    </div>
    <i class="fa fa-pencil-alt edit-post-icon" *ngIf="!post.beingEdited" (click)="postBeingEdited(post)"></i>
    <i class="fa fa-check-circle save-post-icon" *ngIf="post.beingEdited" (click)="applyPostChanges(post)"></i>
    <i class="fa fa-times-circle cancel-post-icon" *ngIf="post.beingEdited" (click)="cancelPostEdition(post)"></i>
  </div>
</div>

