@import "/home/rafael/Desktop/rwPosts/node_modules/bootstrap/scss/bootstrap.scss";
@import "/home/rafael/Desktop/rwPosts/node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "app/fonts";
@import "app/colors";

body{
  width: 100%;
  height: 100%;
  //background-image: url("/assets/images/geometry2.png");
  background-color: #313438;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  color: black;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.autocomplete-post-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 83px;
  left: 0;
  right: 0;
  width: 430px;
}
.autocomplete-post-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  color: black;
}
.autocomplete-post-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-post-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.smaller-post{
  .autocomplete-post-items{
    width: 300px;
    right: 5px;
    left: auto;
  }
}
