@import "/home/rafael/Desktop/rwPosts/node_modules/bootstrap/scss/bootstrap.scss";
@import "/home/rafael/Desktop/rwPosts/node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "app/fonts";
@import "app/colors";

body{
  width: 100%;
  height: 100%;
  //background-image: url("/assets/images/geometry2.png");
  background-color: #313438;
}
